<div class="container">
  <div class="column">
    <div class="col-sm-6 ">
      <i class="fa fa-briefcase"> &nbsp;
      </i>
      <h1>Experience</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="container">
          <div class="starter-template">
            <h2>Bootstrap starter template1</h2>
            <p class="lead">Use this document as a way to quickly start any new project.
              <br> All you get is this text and a mostly barebones HTML document.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="container">
          <div class="starter-template">
            <h2>Bootstrap starter template2</h2>
            <p class="lead">Use this document as a way to quickly start any new project.
              <br> All you get is this text and a mostly barebones HTML document.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>