<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div class="container">
  <div class="">
    <profile-info></profile-info>
  </div>
  <br/>
  <hr/>
  <br/>
  <h1>Education</h1>
  <div class="row">
    <div class="col-sm-6">
      <div class="container">
        <div class="starter-template">
          <h2>Bootstrap starter template1</h2>
          <p class="lead">Use this document as a way to quickly start any new project.
            <br> All you get is this text and a mostly barebones HTML document.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container">
        <div class="starter-template">
          <h2>Bootstrap starter template2</h2>
          <p class="lead">Use this document as a way to quickly start any new project.
            <br> All you get is this text and a mostly barebones HTML document.</p>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <hr/>
  <br/>
  <div class="">
    <photos></photos>
  </div>
</div>
